### MacOS
.DS_Store
Icon?

### Project
.idea/
.fleet/
.vscode/
/temp/
*.log
*.log*


# lib files
out/
*.out


### Environments
.env
.venv
dotenv_/
venv/
dotenv_/
env.bak/
venv.bak/


### Python
__pychache__
*.pyc
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# poetry
poetry.lock

